<!-- This is a "wrapper" template that sets up all the styling and behavior.
If your content page inherits from it, you can use various classes in HTML to define pop-ups, collapsible tips, etc. -->
<!DOCTYPE html>
<html>
  <head>
    <!-- jquery set-up -->
    <link rel="stylesheet" href="//code.jquery.com/ui/1.12.1/themes/base/jquery-ui.css">
    <script src="https://code.jquery.com/jquery-1.12.4.js"></script>
    <script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>
    <!-- tutor-site specific styles -->
    <link rel="stylesheet" href="/resources/common-styles.css">

    <!-- tutor-site specific functionality/handlers -->
    <script>
      $( function() {
        // Accordion objects - expandable sections
        $( ".accordion" ).accordion({
          collapsible: true,
          active: false,
          activate: function(event, ui) {
            if(ui.newPanel.length>0){
              // expanded some panel
              data = ui.newPanel[0].id ? (ui.newPanel[0].id + " in ") : ""
              data += event.target.id
              $.post("/logevent", { "path": window.location.pathname,
                                    "action": "expand accordion",
                                    "data": data})
              console.log(ui.newPanel[0].id);
            }
            else {
              // no newPanel - collapsed panel(s)
              $.post("/logevent", { "path": window.location.pathname,
                                    "action": "collapse accordion",
                                    "data": event.target.id})
            }
          }
        });
        // Dialog objects - pop-up dialogs (handle opening them in your own HTML)
        $( ".dialog" ).dialog({
          autoOpen: false,
          open: function( event, ui ) {
            $.post("/logevent", { "path": window.location.pathname,
                                  "action": "open dialog",
                                  "data": event.target.id})
          },
          close: function( event, ui ) {
            $.post("/logevent", { "path": window.location.pathname,
                                  "action": "close dialog",
                                  "data": event.target.id})
          }
        });
      } );
    </script>
    {% block additionalHeaders %}{% endblock %}
    <!-- extending documents should use the title block to insert a page title-->
    <title>{% block title %}{% endblock %}</title>
  </head>
  <body>
      <!-- the actual content will be inserted in the content block-->
      {% block content %}{% endblock %}
  </body>
</html>
