{% extends "generic-header.html" %}
{% block title %}This is an example page{% endblock %}
{% block content %}

  <h1>Hello!</h1>
  <p>This is an example page which shows off most of the implemented functionality.</p>

  <!-- The accordion class is actually just set up to be a jquery accordion widget (https://jqueryui.com/accordion/)
  with some useful defaults, plus automated logging requests to the server when a user interacts with them.
  The ids are optional, but they show up in the logging to differentiate which piece was interacted with.
  The individual sections (like "whichSection") actually get default IDs assigned by jquery, so not strictly necessary even for logging.-->
  <span class="accordion" id="whichAccordion">
    <span>Expandable info!</span>
    <div id="whichSection">
      This is the content of the expandable accordion
    </div>
    <!-- Technically, you can add more accordion panels here by using more pairs of header/content elements.
    But note that in each accordion, at most one panel is open at a time.-->
  </span>

  <!-- Note that the teacher-note styling and the teacher-only functionality are separate:
  class="teachnote" changes the style of the div; the "if profile" stuff hides it if the current user is a student.-->
  {% if profile and profile.is_teacher() %}
  <div class="teachnote">
    This section should only be visible if you are a teacher!
  </div>
  {% endif %}
{% endblock %}
