<!DOCTYPE html>
<html>
  <head>
    <title>Sort these terms!</title>
  </head>
  <body>
    <form  action="/sortsubmit/{{ gamename }}" method="post">
      <table style="border-collapse: collapse;">
        <!-- Header row -->
        <tr>
          <!-- "blank" top-left corner of table -->
          <td/>

          {% for c in categories %}
            <th style="padding: 10px;">
              {{ c }}
            </th>
          {% endfor %}
        </tr>

        <!-- term rows -->
        {% for t in terms %}
        <tr style="border: solid thin;">
          <th style="border: solid thin; padding: 10px;">{{ t }}</th>
          {% for c in categories %}
            <td align="center">
              <input type="radio" name="{{ t }}" value="{{ c }}">
            </td>
          {% endfor %}
        </tr>
        {% endfor %}
      </table>
      <input type="submit">
    </form>
  </body>
</html>
